{% extends "blog/base.html" %}
{% block content %}
    <h1>About</h1>
    
    <div class="article" style="background-color: white">
      
          
          <h1 >I'm Mhammad Fayzan Bhatti</h1>
        <h3>Software Engineer</h3>
       <p>
        Competent, energetic, and responsible IT expert with a strong academic and professional background. Seeking a career in the IT industry that will allow me to use my talents and abilities while also providing professional progress while being resourceful, imaginative, and creative.

        My aim is to join dynamic organization, where my knowledge and academic skills will add value to organizational operations. To enable me to keep up with those competitors already making best use of their data to maximize business opportunities.
          
        </p>
    </div>


{% endblock content %}